[submodule "lib/Arduino-SerialCommand"]
	path = lib/Arduino-SerialCommand
	url = git@github.com:kroimon/Arduino-SerialCommand.git
[submodule "lib/time"]
	path = lib/time
	url = git@github.com:PaulStoffregen/Time.git
[submodule "lib/Arduino-EEPROMEx"]
	path = lib/Arduino-EEPROMEx
	url = https://github.com/thijse/Arduino-EEPROMEx.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/FirebaseArduino"]
	path = lib/FirebaseArduino
	url = git@github.com:firebase/firebase-arduino.git
